.rocket-list-conatiner {
  padding: 24px 3%;
}

.rocket {
  display: flex;
  flex-direction: row;
}

.rocket .image-container {
  width: 300px;
  height: 200px;
  margin-right: 20px;
}

.image-container img {
  width: 300px;
  height: 200px;
}

.rocket .rocket-content .rocket-name {
  font-size: 25px;
  font-weight: 600;
}
.rocket .reserve-rocket-button {
  width: 20%;
  cursor: pointer;
  border: none;
  background-color: #0290ff;
  border-radius: 3px;
  padding: 8px 20px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #fff;
}
